<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a href='https://www.thehockeynews.com' target="_blank">The Hockey News</a>
        </div>
    </div>
</footer>